---
const { lang } = Astro.props
---

<hr class="text-[#CBCBCB]" />

<div class="pt-4">
  <p>
    {
      lang == 'ru' ? (
        <>
          <p>
            На последнем курсе обучения в университете я начал заниматься
            разработкой – это помогало мне с учебой, создавало альтернативный
            карьерный путь, да и просто удовлетворяло мою любопытность.
          </p>
          <br />
          <p>
            Все начиналось с редактирования верстки в софте для интервального
            повторения -
            <a
              class="font-bold text-[#1f9de8]"
              href="https://apps.ankiweb.net/"
            >
              Anki
            </a>
            , и пришло к тому что я менял опенсорсный код аддонов для этого
            софта.
          </p>
        </>
      ) : lang == 'en' ? (
        <>
          <p>
            In my final year at university, I started doing development - it
            helped me with my studies, created an alternative career path, and
            naturally satisfied my curiosity.
          </p>
          <br />
          <p>
            It all started with editing the layout in the software for interval
            repetition -{' '}
            <a
              class="font-bold text-[#1f9de8]"
              href="https://apps.ankiweb.net/"
            >
              Anki
            </a>{' '}
            , and came to the fact that I changed the code of open source addons
            for this software.
          </p>
        </>
      ) : lang == 'ja' ? (
        <>
          <p>
            大学の最終学年になると、開発の勉強を始めた。大学の勉強の助けになったし、別のキャリアパスができた。
          </p>
          <br />
          <p>
            それは、インターバル反復練習のための
            <a
              class="font-bold text-[#1f9de8]"
              href="https://apps.ankiweb.net/"
            >
              Anki
            </a>
            ソフトウェアのレイアウトを編集することから始まり、このソフトウェアのアドオンのオープンソースコードを変更するところまで来た。
          </p>
        </>
      ) : (
        ''
      )
    }
  </p>
</div>
