---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection("posts", ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<Layout pageTitle="Posts">
  <div class="h-full">
    {posts.map((post) => <BlogPostPreview post={post} />)}
    <div class="flex justify-around">
      <a class="text-white" href={`posts/2`}>More Posts</a>
    </div>
  </div>
</Layout>
