---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import BlogPostPreview from '@components/BlogPostPreview.astro'

import { useTranslations, getLangFromUrl } from '@i18n/utils'

const currentPage =
  typeof Astro.params.page === 'undefined' ? 1 : parseInt(Astro.params.page)

export async function getStaticPaths({ paginate }) {
  const allLangs = ['en', 'ru', 'ja']
  const allPosts = await getCollection('posts')

  return allLangs.map((lang) => {
    const filteredPosts = allPosts.filter(
      (post) => post.slug.split('/')[0] === lang
    )
    return paginate(filteredPosts, {
      params: { lang },
      pageSize: 4,
    })
  })
}

const { page } = Astro.props
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
  pageTitle={t(`page.posts`)}
  pageDescription={t(`description.posts`)}
  pageType="website"
>
  <div class="md:py-[125px] py-[70px] text-center">
    {page.data.map((post) => <BlogPostPreview post={post} lang={lang} />)}
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</Layout>
