---
import Layout from "@layouts/Layout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

export const prerender = false;

const { lang } = Astro.params;
const t = useTranslations(lang);

const posts = await getCollection("posts", ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<Layout pageTitle="Posts">
  <div>
    {posts.map((post) => <BlogPostPreview post={post} />)}
    <a class="text-white" href={`posts/2`}>More Posts</a>
  </div>
</Layout>
