---
export interface Props {
  pageTitle: string;
}
import Navbar from "@components/Navbar";
const { pageTitle, pageColor, href } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class=`h-screen`>
    <Navbar href={href} />
    <slot />
  </body>
</html>
