---
import "../styles/global.css";
import Layout from "@layouts/Layout.astro";
---

<Layout pageTitle="Bogdan Kokunin - Homepage" href="/">
  <main class="bg-black h-full flex flex-col">
    <div class="w-[1025px] m-auto mt-52">
      <h1 class="text-white">123</h1>
    </div>
  </main>
</Layout>
