---
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const paths = ["en", "jp", "ru"].map((language) => {
    return { params: { lang: language } };
  });

  return paths;
}
---

<Layout pageTitle="index page" pageDescription="Main page of my personal site" pageType="website">
  <h1>index page</h1>
</Layout>
